//Variables
$primary: #5cb874;

.checkbox {
	&__input {
		opacity: 0;
		width: 1em;
		height: 1em;
		display: grid;
  		grid-template-areas: "checkbox";

		> * {
			grid-area: checkbox;
		}

		&:checked + label:before {
			background-color: $primary;
			color: white;
		}

		+ label:active:before {
			transform: scale(0);
		}
	}

	&__label {
		cursor: pointer;
	
		&:before {
			content: "\2713";
			display: inline-block;
			width: 1.6em;
			height: 1.6em;
			border-radius: 0.35em;
			border: 0.1em solid $primary;
			padding-left: 0.35em;
			margin-right: 1em;
			color: transparent;
			transition: 0.2s;
		}
	}
}