{% extends 'default.twig' %}

{% block content %}
    <h1>Liste des magasins</h1>
    {% for store in allStores %}
        <article>
            <h2>{{ store.name }}</h2>
            <div>{{ store.description }}</div>
            <a href="/stores/read/{{ store.id }}">Pour plus d'informations...</a>
        </article>
    {% endfor %}
{% endblock %}