{% extends 'authentication.twig' %}
{% import 'form.twig' as form %}

{% block description %}
	Description
{% endblock %}
{% block author %}
	Auteur
{% endblock %}
{% block title %}
	Title
{% endblock %}

{% block content %}

	<!-- ======= ForgotPassword Section ======= -->
	<section id="forgotPassword" class="section">
		<div class="container">
			<div class="section-heading">
				<h1>Mot de passe oublié ?</h1>
				<p>
					Ne vous inquiétez pas, nous allons vous envoyer un message pour vous aider à réinitialiser votre mot de passe.
				</p>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto form">
					<form name="forgotPasswordForm" id="forgotPasswordForm" action="" method="POST">
						{{ form.email('email', 'Adresse de messagerie', 'required') }}
						<br>
						<div class="text-center">
							<button type="submit" class="btn btn-primary" id="forgotPasswordButton">Continuer</button>
						</div>
					</form>
					<hr>
					<div class="text-center">
					  <a class="small" href="/user/login">Déjà inscrit ? Se connecter !</a>
					</div>
					<div class="text-center">
						<a class="small" href="/user/register">Créer un compte !</a>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End ForgotPassword Section -->

{% endblock %}