{% extends 'dashboard.twig' %}

{% block head %}
        <meta name="description" content="{{ head.description }}">
        <meta name="author" content="{{ head.author }}">

        <title>{{ head.title }}</title>
{% endblock %}

{% block content %}


{% endblock %}