{% extends 'dashboard.twig' %}

{% block description %}
    Description
{% endblock %}
{% block author %}
    Auteur
{% endblock %}
{% block title %}
    Title
{% endblock %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mon profil</h1>
    </div>

{% endblock %}