{% extends 'admin.twig' %}

{% block content %}
    <h1>Bienvenue dans l'administration</h1>
    <p><a href="/admin/stores">Gérer les points de vente</a></p>
    <p><a href="/admin/users">Gérer les utilisateurs</a></p>
{% endblock %}