/*--------------------------------------------------------------
Buttons
--------------------------------------------------------------*/
.btn {
	font-size: 14px;
	font-weight: 600;
	padding: 10px 24px;
	border: 2px solid;
	border-radius: 4px;
	transition: 0.3s;
	@include sans-serif-font;

	&-primary {
		background-color: $primary;
		border-color: $primary;

		&:hover,
		&:focus,
		&:active {
			color: $white;
			background-color: lighten($primary, 5) !important;
			border-color: lighten($primary, 5) !important;
		}
	}

	&-danger {
		background-color: $red;
		border-color: $red;

		&:hover,
		&:focus,
		&:active {
			color: $white;
			background-color: lighten($red, 5) !important;
			border-color: lighten($red, 5) !important;
		}
	}

	&-outline-primary {
		color: $primary;
		background-color: $white;
		border-color: $primary;

		&:hover,
		&:focus,
		&:active {
			color: $white;
			background-color: $primary;
			border-color: $primary;
		}
	}

	&-inverse-primary {
		color: $white;
		background-color: $primary;
		border-color: $white;

		&:hover,
		&:focus,
		&:active {
			color: $primary;
			background-color: $white;
			border-color: $white;
		}
	}

	&-link {
		padding: 0;
		border-style: none;
	}
}