/*--------------------------------------------------------------
Global styling for this template
--------------------------------------------------------------*/
body {
	color: $secondary;
	@include sans-serif-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	@include sans-serif-font;
}

p {
	font-size: 1rem;
	line-height: 1.5;
	margin: 30px 0;
	
}

a {
	color: $primary;
	@include transition-all;
	&:focus,
	&:hover {
		color: darken($primary, 10);
		text-decoration: none;
	}
}

/*--------------------------------------------------------------
Map
--------------------------------------------------------------*/
.map {
	height: 500px;
	width: 100%;
	border-top: 3px solid $primary;
	border-bottom: 3px solid $primary;
	padding: 30px;
	margin: 25px auto;
	background: $white;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

/*--------------------------------------------------------------
Section
--------------------------------------------------------------*/
.section {
	padding-top: 150px;
	padding-bottom: 30px;
	
	&-heading {
		text-align: center;
		padding-bottom: 30px;

		& h1 {
			font-size: 32px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 20px;
			padding-bottom: 20px;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 120px;
				height: 1px;
				background: #ddd;
				bottom: 1px;
				left: calc(50% - 60px);
			}

			&::after {
				content: '';
				position: absolute;
				display: block;
				width: 40px;
				height: 3px;
				background: $primary;
				bottom: 0;
				left: calc(50% - 20px);
			}
		}

		& p {
			margin-bottom: 0;
			font-size: 14px;
			color: lighten($secondary, 5);
		}
	}
}

.product {
	display: inline-block;
	padding: 8px 15px 10px 15px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	color: $white;
	background: $primary;
	margin: 5px;
	border-radius: 4px;
}

/*--------------------------------------------------------------
Filter
--------------------------------------------------------------*/
.filter {
	input {
		display: none;

		&:checked + label {
			color: $white;
			background: $primary;
		}
	}

	label {
		cursor: pointer;
		padding: 8px 15px 10px 15px;
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
		color: $secondary;
		margin: 5px;
		transition: all 0.3s ease-in-out;
		border-radius: 4px;

		&:hover,
		&:focus,
		&:active {
			color: $white;
			background: $primary;
		}
	}
}

/*--------------------------------------------------------------
Call to action
--------------------------------------------------------------*/
.cta {
	background: $primary;
	padding: 80px 0;

	& h2 {
		color: $white;
		font-size: 28px;
		font-weight: 700;
	}

	& p {
		color: $white;
		margin-top: 0px;
	}
}

/*--------------------------------------------------------------
Information
--------------------------------------------------------------*/
.information {
	border-top: 3px solid $primary;
	border-bottom: 3px solid $primary;
	padding: 30px;
	background: #fff;
	width: 100%;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
	
	&-icon {
		font-size: 20px;
		color: $primary;
		float: left;
		width: 44px;
		height: 44px;
		background: #eaf6ed;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50px;
		transition: all 0.3s ease-in-out;
		
		&:hover {
			background: $primary;
			color: #fff;
		}
	}

	&-title {
		font-size: 1.2rem;
		font-weight: bold;
		margin: 0 0 20px 0;
		text-align: center;
		text-transform: uppercase;
	}

	&-subtitle {
		padding: 0 0 0 60px;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 5px;
		color: #222222;
		}

	&-text {
		padding: 0 0 10px 60px;
		margin: 0 0 20px 0;
		font-size: 14px;
		color: #555555;
	}
}

/*--------------------------------------------------------------
Social
--------------------------------------------------------------*/
.social {
	text-align: center;
	margin-top: 30px;

	&-link {
		color: #919191;
		transition: 0.3s;
		&:hover {
		color: $primary;
		}
	}

	&-icon {
		font-size: 1.33333em;
		margin: 0 10px;
	}
}