{% extends 'default.twig' %}
{% import 'form.twig' as form %}

{% block description %}
    Description
{% endblock %}
{% block author %}
    Auteur
{% endblock %}
{% block title %}
    Title
{% endblock %}

{% block content %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section">
        <div class="container">
            <div class="section-heading">
                <h1>Contact</h1>
                <p>
                    Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                    <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                    <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                    <form name="sentMessage" id="contactForm" class="contact-form form" novalidate>
                        {{ form.text('name', 'Nom :', 'Veuillez entrer votre nom.') }}
                        {{ form.email('email', 'Adresse de messagerie :', 'Veuillez entrer votre adresse de messagerie.') }}
                        {{ form.text('subject', 'Objet :', 'Veuillez entrer l\'objet de votre message.') }}
                        {{ form.textarea('message', 'Message :', 'Veuillez entrer votre message.') }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary " id="sendMessageButton">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

{% endblock %}