<!DOCTYPE html>
<html lang="fr">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="{% block author %}{% endblock %}">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Toastr CSS -->
        <link href="/vendor/toastr/toastr.min.css" rel="stylesheet">

        <!-- Custom fonts -->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Custom styles -->
        <link href="../public/css/main.min.css" rel="stylesheet">

    </head>

    <body>
        
        <div class="container">
            {% if errors %}
                <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>

        {% block content %}{% endblock %}

        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Toastr JavaScript -->
        <script src="/vendor/toastr/toastr.min.js"></script>

        <!-- Custom scripts -->
        <script src="/public/js/flash.js"></script>
        <script src="/public/js/authentication.js"></script>

    </body>
</html>